<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item List</title>
</head>
<body>
<h1>Item List</h1>
<a th:href="@{/add}">Add New Item</a>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td>
            <a th:href="@{|/edit/${item.id}|}">Edit</a>
            <a th:href="@{|/delete/${item.id}|}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>